<!DOCTYPE HTML>
<html lang="en" xlmns:th="https://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="UTF-8" />
    <link href="/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <script src="https://kit.fontawesome.com/4bd3276109.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<header class="header main-color-green">
    <nav class="navbar">
        <ul class="nav-links">
            <input class="nav-checkbox" type="checkbox" id="checkbox_toggle"/>
            <label for="checkbox_toggle" class="navbar-dropdown">&#9776;</label>
            <div class="menu">
                <li><a href="/">Home</a></li>
                <li th:if="${loggedUser == null}"><a href="/login" >Log in</a></li>
                <li th:if="${loggedUser == null}"><a href="/register">Register</a></li>
                <li th:if="${loggedUser != null}"><a href="/odjaviSe">Log out</a></li>
                <li th:if="${loggedUser != null}"><a href="/workout">Workout</a></li>
                <li th:if="${loggedUser != null}"><a href="/friends">Friends</a></li>
                <li th:if="${loggedUser != null}"><a th:text="${loggedUser.getIme() + ' ' + loggedUser.getPrezime()}" href="/profile" class="menu-username" style="text-transform: lowercase; font-weight: normal;"></a></li>
            </div>
        </ul>
        <div class="logo">
            <a href="/">
                <img class="scaled-image scaled-image-fixed" src="/images/logo.png" alt="Avocardio logo">
            </a>
            <!-- <div class="centered-container avocardio-logotext">
                Avocardio
            </div> -->
        </div>
    </nav>
</header>


<footer th:fragment="footer"  class="footer main-color-green">
    <div class="container">
        <div class="footer-content">
            Avocardio - Filip Krišković -
            <a id="gitlab-link" title="Avocardio Gitlab" href="https://gitlab.com/filip_kriskovic2/zavrsni-rad">Avocardio Gitlab</a>
        </div>
    </div>
</footer>
</body>
</html>