* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

html {
    height: 100%;
}

.body {
    margin: 0%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
}

.container {
    margin: auto;
    width: 1000px;
}

.centered-container {
    text-align: center;
}

/* #gitlab-link {
    padding-left: 5px;
} */

.scaled-image {
    display: block;
    max-width: 100%;
    max-height: 100%;
}


.scaled-image-fixed {
    display: block;
    width: 100px;
    height: 100px;
}

.main {
    flex-basis: 5rem;
    position: relative;
    flex-grow: 1;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #b5d566;
    color: #a17954;
}

.logo-image {
    border-radius: 50%;
    border: 3px solid #a17954;
}

/* .avocardio-logotext {
    text-transform: uppercase;
    padding: 20px;
    font-size: 15px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f9fff0;
    text-decoration: none;
    outline: none;
} */

.nav-links a, .nav-span {
    text-transform: uppercase;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #a17954;
    text-decoration: none;
    outline: none;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 20px;
}

.menu li:hover {
    background-color: #7a8d4b;
    border-radius: 10px;
    transition: 0.3s ease;
}

.menu li a:hover {
    color: #dce798;
}

.menu li {
    padding: 20px 25px;
}

.menu-username {
    margin: 0;
}

.menu-username:hover {
    color: #dce798;
}

/*RESPONSIVE NAVBAR*/
.nav-checkbox {
    display:none;
}

.navbar-dropdown {
    display:none;
    font-size: 24px;
    user-select: none;
}

@media (max-width: 768px) {
    .menu {
        display:none;
        position: absolute;
        background-color: #b5d566;
        right: 0;
        left: 0;
        top: 140px;
        text-align: center;
        padding: 20px 0;
    }
    .menu li:hover {
        display: inline-block;
        background-color: #7a8d4b;
        z-index: 1000;
        
    }
    .menu li + li {
        margin-top:12px;
    }
    input[type=checkbox]:checked ~ .menu {
        display:block;
        z-index: 1001;
    }
    .navbar-dropdown {
        display:block;
    }
}

/* .stations {
    position: relative;
} */

.submenu {
    background-color: #b5d566;
    padding: 1em 0;
    position: absolute;
    display: none;
    border-radius: 8px;
    top: 45px;
}

.submenu li + li {
    margin-top: 5px;
}

.submenu li {
    padding: 0.5em 1em;
    width: 15em;
    text-align: center;
}

.submenu li:hover {
    background-color: #b5d566;
}

/* .stations:hover .submenu {
    display:block;
    z-index: 1000;
} */

.main-color-green {
    background-color: #b5d566;
}

.main-color-darkgreen {
    background-color: #7a8d4b;
}

.main-color-brown {
    background-color: #a17954;
}

.main-color-white {
    background-color: antiquewhite;
}

.home {
    margin: 40px;
    display: flex;
    /* align-items: center;  */
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}

.home-image {
    width: 45%; 
    height: auto;
    display: inline-block;
}

.title {
    color: antiquewhite;
    font-size: 65px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    padding: 20px;
    font-weight: bold;
    text-decoration: none;
    outline: none;
}

.sub-title {
    color: #b5d566;
    padding-bottom: 20px;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* padding: 20px; */
    font-weight: bold;
    text-decoration: none;
    outline: none;
}

.text-container {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    flex-wrap: wrap;
}

.section-text {
    margin: 20px 0px;
    padding-left: 50px;
    color: antiquewhite;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* padding: 20px; */
    font-weight: bold;
    text-decoration: none;
    outline: none;
}

input[type=text], input[type=password], input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #7a8d4b;
    box-sizing: border-box;
}

input[type=text].input-value, input[type=number].input-value, select.input-value {
    width: 100%;
    padding: inherit;
    margin: inherit;
    display: inline-block;
    border: none;
    box-sizing: border-box;
}

.btn {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    background-color: #b5d566;
    color:white;
    padding: 14px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    width: 40%
}

.reset-btn {
    background-color: grey;
}

.btn:hover {
    opacity: 0.8;
}

.form-container {
    width: 50%;
    height: 50%;
    margin:auto;
}

.form-title {
    text-transform: uppercase;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: antiquewhite;
    width: auto;
    margin: auto;
    text-align: center;
}

.btns-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.column {
    padding:20px;
    flex: 50%;
    /* margin-left: 100px; */
}

@media screen and (max-width: 768x) {
    .column {
      width: 100%;
    }
}
.left-container {
    float: left;
    width: 66%;
    height: 77.1vh;
    border-right: dashed;
}

.right-container {
    float: left;
    height: 77.1vh;
    width: 34%;
    overflow: auto;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-content {
    text-align: center;
    font-size: 12px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: antiquewhite;
}

/* .alert {
    margin-top: 2em;
    position: relative;
    padding: 6px 12px 6px 12px;
    border: 1px solid transparent;
    border-radius: 5px;
} */

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

/* .alert-danger {
    color: white;
    background-color: #f48989;
    border-color: #da1414;
} */
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

/* .alert-success {
    color: white;
    background-color: #5aca75;
    border-color: #b5d566;
} */
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.list-item-saviour {
    background-color: #c9c9c9;
    margin: 5px 0;
    font-size: large;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.list-item {
    background-color: #c9c9c9;
    margin: 5px 0;
}

.lista-item-text {
    font-size: large;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.lista-item-text-content {
    margin: 10px;
    font-size: large;
} 

.normal-text{
    color: black;
}

.see-more {
    color: blue;
    cursor: pointer;
}

.see-more:hover {
    text-decoration: underline;
}

.register-buttons > form{
    display: inline-block;
}

.accept-button {
    color: darkgreen;
    background-color: lightgreen;
    border-color: #b5d566;
    border: none;
}

.ban-button {
    color: darkred;
    background-color: pink;
    border-color: darkred;
    border: none;
    margin: 5px;
}

.add-button {
    color: #7a8d4b;
    background-color: #b5d566;
    border-color: #7a8d4b;
    border: none;
}

.edit-button {
    color: rgb(66, 66, 66);
    background-color: grey;
    border-color: rgb(66, 66, 66);
    border: solid 2px;
    display: block;
}

.transport-button {
    color: rgb(72, 179, 214);
    background-color: lightblue;
    border-color: rgb(69, 98, 228);
    border: solid 2px;
    display: block;
}

.search-button {
    width: 10%;
    height: auto;
}

/*.transport-button > i, .edit-button > i {
    padding-left: 17px;
}*/

.ban-button, .accept-button, .add-button, .transport-button, .edit-button {
    width: 60px;
    height: 30px;
    border-radius: 10%;
}

.ban-button:hover, .accept-button:hover, .add-button:hover, .transport-button:hover {
    border: solid 2px;
}

.edit-button:hover {
    background-color: rgb(182, 182, 182);
    color: rgb(66, 66, 66);
    border-color: rgb(66, 66, 66);
}

.accept-button:active {
    background-color: rgb(35, 158, 35);
}

.ban-button:active {
    background-color: palevioletred;
}

.add-button:active {
    background-color: lightgreen;
}

.edit-button:active {
    background-color: rgb(99, 99, 99);
    color: rgb(66, 66, 66);
    border-color: rgb(66, 66, 66);
}

.transport-button:active {
    background-color: grey;
    color: rgb(72, 179, 214);
    border-color: rgb(69, 98, 228);
}

.green-border {
    border: solid 2px darkgreen;
    border-radius: 5px;
}

.width-correction {
    width: inherit;
}

fieldset {
    border:none;
}

fieldset > * {
    margin-left: 10px;
    margin-bottom: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

fieldset > input{
    margin-left: 10px;
    margin-bottom: 10px;
}

fieldset label {
    padding: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: antiquewhite;
}

.check-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 24.5px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.check-add-saviour {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.check-container:hover input ~ .check-add-saviour {
    background-color: lightgreen;
  }
  
/* When the checkbox is checked, add a lightgreen background */
.check-container input:checked ~ .check-add-saviour {
    background-color: lightgreen;
}

/* Create the checkmark/indicator (hidden when not checked) */
.check-add-saviour:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.check-container input:checked ~ .check-add-saviour:after {
display: block;
}

/* Style the checkmark/indicator */
.check-container .check-add-saviour:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid green;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

img.container {
    margin-bottom: 10px;
}

.big-button {
    padding: 10px;
    font-size: 20px;
}

.dataset {
    margin-bottom: 20px;
}

.dataset-entry {
    display: flex;
    flex-direction: row;
    padding: 6px 12px 6px 12px;
    line-height: 1.5;
    border-bottom: 1px solid #ffffff;
    font-size: 25px;
}

.dataset-entry:first-child {
    border-top: 1px solid #ffffff;
}

.dataset-property {
    margin-right: 12px;
    color: #ffffff;
    font-style: italic;
    flex-basis: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dataset-property-goal {
    color: #e0fb9d;
}

.dataset-value {
    color: #a17954;
    text-align: left;
    flex: 1;
}

.dataset-value-goal {
    color: white;
}

.dataset-goal {
    background-color: #7a8d4b;
}


.decorated-title {
    position: relative;
    padding-bottom: 5px;
    font-size: 2.5em;
    color: #ffffff;
}

.font-secondary {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.secondary-color-bg {
    background-color: #e0c490;
}

.section {
    padding-top: 80px;
}

.padded-container {
    margin: auto;
    width: 1000px;
    padding: 20px 30px;
}

.inner-padded-container {
    margin: 15px auto;
    padding: 20px 30px;
}

.input-value {
    font-size: 20px;
    background-color: antiquewhite;
    border: none;
    padding-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input-value[disabled] {
    background-color: #e0c490;
    color: #a17954;
}

.profile-edit-buttons {
    justify-content: center;
    display: flex;
}

.workout-buttons {
    flex-direction: column;
    align-items: center;
    display: flex;
}

.workout-btn {
    font-size: 16px;
}

.friend-list-header {
    display: flex;
    justify-content: space-between;
}