<!DOCTYPE HTML>
<html lang="en" xlmns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4bd3276109.js" crossorigin="anonymous"></script>
    <title>Friends' Workout</title>
</head>
<body class="body">

    <header th:insert="fragments/general.html :: header"> </header>

    <main class="main main-color-brown">
        <section class="section">
            <div th:each="friendworkout: ${friendsworkoutlist}" class="padded-container secondary-color-bg">
                <h1 th:text="${friendworkout.friendemail}" class="decorated-title font-secondary">

                </h1>
                <div class="dataset">
                    <div class="dataset-entry">
                        <div class="dataset-property">
                            Plan name
                        </div>
                        <div th:text="${friendworkout.naziv}" class="dataset-value"></div>
                    </div>
                    <div class="dataset-entry">
                        <div class="dataset-property">
                            Intensity
                        </div>
                        <div th:text="${friendworkout.intenzitet}" class="dataset-value"></div>
                    </div>
                    <div class="dataset-entry">
                        <div class="dataset-property">
                            Total distance
                        </div>
                        <div th:text="${friendworkout.ukupno + ' km'}" class="dataset-value"></div>
                    </div>
                    <div class="dataset-entry">
                        <div class="dataset-property">
                            Description
                        </div>
                        <div th:text="${friendworkout.opis}" class="dataset-value"></div>
                    </div>
                    <div class="dataset-entry">
                        <div class="dataset-property">
                            Schedule
                        </div>
                        <div th:text="${friendworkout.raspored}" class="dataset-value"></div>
                    </div>
                    <div class="dataset-entry">
                        <div class="dataset-property">
                            Progress
                        </div>
                        <div th:if="${T(java.lang.Float).parseFloat(friendworkout.friendnapredak) < T(java.lang.Float).parseFloat(friendworkout.ukupno)}" th:text="${friendworkout.friendnapredak + '/' + friendworkout.ukupno + ' km (' + friendworkout.friendnapredakpostotak + '%)'}" class="dataset-value"></div>
                        <div th:if="${T(java.lang.Float).parseFloat(friendworkout.friendnapredak) >= T(java.lang.Float).parseFloat(friendworkout.ukupno)}" class="dataset-value dataset-value-goal">Completed!</div>
                    </div>
                </div>
            </div>
        </section>
        <div class="workout-buttons">
            <a href="/workout" class="btn workout-btn">Your Workout</a>
        </div>
    </main>

    <footer th:insert="fragments/general.html :: footer"> </footer>

</body>

</html>