<!DOCTYPE HTML>
<html lang="en" xlmns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4bd3276109.js" crossorigin="anonymous"></script>
    <title>Friends</title>
</head>
<body class="body">

    <header th:insert="fragments/general.html :: header"> </header>

    <main class="main main-color-brown">
        <section class="section">
            <div class="padded-container secondary-color-bg">
                <h1 class="decorated-title font-secondary">
                    Find friends via Email
                </h1>
                <form action="/addFriend" method="post">
                    <div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>
                    <div class="alert alert-success" th:if="${success}" th:text="${success}"></div>
                    <div class="dataset">
                        <div class="dataset-entry">
                            <div class="dataset-property">
                                Friend Email
                            </div>
                            <input type="text" th:id="friendEmail" th:name="friendEmail" placeholder="email@example.com" class="dataset-value input-value"></input>
                            <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <section class="section">
            <div class="padded-container secondary-color-bg">
                <div class="friend-list-header">
                    <h1 class="decorated-title font-secondary" style="display: inline-block;">
                        Friends List
                    </h1>
                    <a href="/friendsWorkout" class="btn workout-btn" style="width: auto; margin: 0px;">Compare with Friends</a>
                </div>
                <div th:each="friend: ${friends}" class="inner-padded-container dataset-goal">
                    <div class="dataset-entry">
                        <div class="dataset-property dataset-property-goal">
                            First name
                        </div>
                        <div th:text="${friend.ime}" class="dataset-value dataset-value-goal"></div>
                    </div>
                    <div class="dataset-entry">
                        <div class="dataset-property dataset-property-goal">
                            Last name
                        </div>
                        <div th:text="${friend.prezime}" class="dataset-value dataset-value-goal"></div>
                    </div>
                    <div class="dataset-entry">
                        <div class="dataset-property dataset-property-goal">
                            E-mail
                        </div>
                        <div th:text="${friend.email}" class="dataset-value dataset-value-goal"></div>
                    </div>
                    <form action="/removeFriend" method="post">
                        <input type="hidden" th:id="idprijateljstva" th:name="idprijateljstva" th:value="${friend.idprijateljstva}">
                        <button type="submit" title="Remove Friend" class="ban-button"><i class="fas fa-ban"></i></button>
                    </form>
                </div>
            </div>
        </section>
    </main>

    <footer th:insert="fragments/general.html :: footer"> </footer>

</body>

</html>