<!DOCTYPE HTML>
<html lang="en" xlmns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4bd3276109.js" crossorigin="anonymous"></script>
    <title th:text="${loggedUser.getIme() + ' ' + loggedUser.getPrezime()}"></title>
</head>
<body class="body">

    <header th:insert="fragments/general.html :: header"> </header>

    <main class="main main-color-brown">
        <section id="profiledisplay" class="section">
            <div class="padded-container secondary-color-bg">
                <h1 class="decorated-title font-secondary">
                    User profile
                </h1>
                <div class="dataset">
                    <div class="dataset-entry">
                        <div class="dataset-property">
                            First name
                        </div>
                        <div th:text="${loggedUser.getIme()}" class="dataset-value"></div>
                    </div>
                    <div class="dataset-entry">
                        <div class="dataset-property">
                            Last name
                        </div>
                        <div th:text="${loggedUser.getPrezime()}" class="dataset-value"></div>
                    </div>
                    <div class="dataset-entry">
                        <div class="dataset-property">
                            E-mail
                        </div>
                        <div th:text="${loggedUser.getEmail()}" class="dataset-value"></div>
                    </div>
                    <div class="dataset-entry">
                        <div class="dataset-property">
                            Age
                        </div>
                        <div th:text="${loggedUser.getDob()}" class="dataset-value"></div>
                    </div>
                    <div class="dataset-entry">
                        <div class="dataset-property">
                            Weight
                        </div>
                        <div th:text="${loggedUser.getKilaza()}" class="dataset-value"></div>
                    </div>
                </div>
                <button onclick="showEdit()" class="edit-button" title="Edit profile"><i class="fas fa-edit"></i></button>
                <div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>
                <div class="alert alert-success" th:if="${success}" th:text="${success}"></div>
            </div>
        </section>
        <section id="hiddenedit" class="section" style="display: none;">
            <div class="padded-container secondary-color-bg">
                <h1 class="decorated-title font-secondary">
                    Edit profile
                </h1>
                <form action="/editprofile" method="post" th:object="${user}">
                    <div class="dataset">
                        <div class="dataset-entry">
                            <div class="dataset-property">
                                First name
                            </div>
                            <input type="text" th:id="ime" th:name="ime" required minlength="2" th:value="${loggedUser.getIme()}" class="dataset-value input-value"></input>
                        </div>
                        <div class="dataset-entry">
                            <div class="dataset-property">
                                Last name
                            </div>
                            <input type="text" th:id="prezime" th:name="prezime" required minlength="2" th:value="${loggedUser.getPrezime()}" class="dataset-value input-value"></input>
                        </div>
                        <div class="dataset-entry">
                            <div class="dataset-property">
                                E-mail
                            </div>
                            <input type="text" th:id="email" th:name="email" required th:value="${loggedUser.getEmail()}" class="dataset-value input-value" disabled></input>
                        </div>
                        <div class="dataset-entry">
                            <div class="dataset-property">
                                Age
                            </div>
                            <input type="number" th:id="dob" th:name="dob" required th:value="${loggedUser.getDob()}" class="dataset-value input-value"></input>
                        </div>
                        <div class="dataset-entry">
                            <div class="dataset-property">
                                Weight
                            </div>
                            <input type="number" th:id="kilaza" th:name="kilaza" step="0.1" required th:value="${loggedUser.getKilaza()}" class="dataset-value input-value"></input>
                        </div>
                    </div>
                    <div class="profile-edit-buttons">
                        <input type="submit" value="Save" class="btn">
                        <button type="button" onclick="showEdit()" class="btn reset-btn" title="Cancel">Cancel</button>
                    </div>
                </form>
            </div>
        </section>
    </main>

    <footer th:insert="fragments/general.html :: footer"> </footer>

</body>
<script>
    function showEdit() {
        var y = document.getElementById("profiledisplay");
        if (y.style.display === "none") {
            y.style.display = "block";
        } else {
            y.style.display = "none";
        }
        var x = document.getElementById("hiddenedit");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>
</html>