<!DOCTYPE HTML>
<html lang="en" xlmns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4bd3276109.js" crossorigin="anonymous"></script>
    <title>Record Workout</title>
</head>
<body class="body">

    <header th:insert="fragments/general.html :: header"> </header>

    <main class="main main-color-brown">
        <section class="section">
            <div class="padded-container secondary-color-bg">
                <h1 class="decorated-title font-secondary">
                    Record Workout
                </h1>
                <form action="/addRecord" method="post">
                    <div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>
                    <div class="dataset">
                        <div class="dataset-entry">
                            <div class="dataset-property">
                                Mileage (km)
                            </div>
                            <input type="number" th:id="kilometraza" th:name="kilometraza" step="0.1" class="dataset-value input-value"></input>
                        </div>
                        <div class="dataset-entry">
                            <div class="dataset-property">
                                Workout type
                            </div>
                            <select th:name="nacin" th:id="nacin" class="dataset-value input-value">
                                <option value="-" selected disabled>Select Workout type</option>
                                <option value="Running">Running</option>
                                <option value="Cycling">Cycling</option>
                                <option value="Easy walking">Easy walking</option>
                            </select>
                        </div>
                    </div>
                    <div class="profile-edit-buttons">
                        <input type="submit" value="Record" class="btn">
                        <input type="reset" value="Clear" class="btn reset-btn">
                    </div>
                </form>
            </div>
        </section>
    </main>

    <footer th:insert="fragments/general.html :: footer"> </footer>

</body>

</html>