<!DOCTYPE html>
<html lang="en" xlmns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body class="body">
    <header th:insert="fragments/general.html :: header"> </header>
    <main class="main main-color-brown">
        <section class="form-container">
            <div class="form-title">
                Register
            </div>
            <div class="form-group">
                <div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>
                <form action="/registerUser" enctype="multipart/form-data" method="post" th:object="${user}">
                    <fieldset>
                    
                        <label>Name:</label><br>
                        <input type="text" th:field="*{ime}" required minlength="2"><br>
        
                        <label>Surname:</label><br>
                        <input type="text" th:field="*{prezime}" required minlength="2"><br>

                        <label>E-mail:</label><br>
                        <input type="text"  th:field="*{email}" pattern="^([a-z0-9]+(?:[._-][a-z0-9]+)*)@([a-z0-9]+(?:[.-][a-z0-9]+)*\.[a-z]{2,})$" required><br>
        
                        <label>Password:</label><br>
                        <input type="password" th:field="*{lozinka}" required><br>
                        
                        <label>Age:</label><br>
                        <input type="number" th:field="*{dob}" required><br>

                        <label>Weight:</label><br>
                        <input type="number" step="0.1" th:field="*{kilaza}" required><br>
                        
                        <div class="btns-container">
                            <input type="submit" value="Register" class="btn">
                            <input type="reset" value="Clear" class="btn reset-btn">
                        </div>
                    </fieldset>
                </form>
                <div class="alert alert-success" th:if="${success}" th:text="${success}"></div>
            </div>
        </section>
    </main>
    <footer th:insert="fragments/general.html :: footer"> </footer>
</body>

</html>