<!DOCTYPE HTML>
<html lang="en" xlmns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4bd3276109.js" crossorigin="anonymous"></script>
    <title>Set a New Goal</title>
</head>
<body class="body">

    <header th:insert="fragments/general.html :: header"> </header>

    <main class="main main-color-brown">
        <section class="section">
            <div class="padded-container secondary-color-bg">
                <h1 class="decorated-title font-secondary">
                    Set a New Goal
                </h1>
                <form action="/addGoal" method="post" th:object="${cilj}">
                    <div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>
                    <div class="alert alert-info">
                        You can set either 'Target Weight' or 'Target Mileage':<br>
                        <li style="list-style: disc;">If you set 'Target Weight', 'Target Mileage' will be calculated for you</li>
                        <li style="list-style: disc;">You can choose to only set 'Target Mileage'</li>
                    </div>
                    <div class="dataset">
                        <div class="dataset-entry">
                            <div class="dataset-property">
                                Target Weight (kg)
                            </div>
                            <input type="number" th:id="ciljnaKilaza" th:name="ciljnaKilaza" step="0.1" class="dataset-value input-value"></input> 
                        </div>
                        <div class="dataset-entry">
                            <div class="dataset-property">
                                Target Mileage (km)
                            </div>
                            <input type="number" th:id="ciljnaKilometraza" th:name="ciljnaKilometraza" step="0.1" class="dataset-value input-value"></input>
                        </div>
                        <div class="dataset-entry">
                            <div class="dataset-property">
                                Way of Exercising
                            </div>
                            <select th:name="nacin" th:id="nacin" class="dataset-value input-value">
                                <option value="-" selected disabled>Select Way of Exercising</option>
                                <option value="Running">Running</option>
                                <option value="Cycling">Cycling</option>
                                <option value="Easy walking">Easy walking</option>
                            </select>
                        </div>
                        <div class="dataset-entry">
                            <div class="dataset-property">
                                Schedule
                            </div>
                            <input type="text" th:id="raspored" th:name="raspored" class="dataset-value input-value"></input>
                        </div>
                    </div>
                    <div class="profile-edit-buttons">
                        <input type="submit" value="Save" class="btn">
                        <input type="reset" value="Reset" class="btn reset-btn">
                    </div>
                </form>
            </div>
        </section>
    </main>

    <footer th:insert="fragments/general.html :: footer"> </footer>

</body>

</html>