<!DOCTYPE HTML>
<html lang="en" xlmns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4bd3276109.js" crossorigin="anonymous"></script>
    <title>Your Workout Page</title>
</head>
<body class="body">

    <header th:insert="fragments/general.html :: header"> </header>

    <main class="main main-color-brown">
        <section class="section">
            <div th:if="${loggedUser != null and workoutplan != null}" class="padded-container secondary-color-bg">
                <h1 class="decorated-title font-secondary">
                    Your Workout Plan
                </h1>
                <div class="dataset">
                    <div class="dataset-entry">
                        <div class="dataset-property">
                            Plan name
                        </div>
                        <div th:text="${workoutplan.getNaziv()}" class="dataset-value"></div>
                    </div>
                    <div class="dataset-entry">
                        <div class="dataset-property">
                            Intensity
                        </div>
                        <div th:text="${workoutplan.getIntenzitet()}" class="dataset-value"></div>
                    </div>
                    <div class="dataset-entry">
                        <div class="dataset-property">
                            Total distance
                        </div>
                        <div th:text="${workoutplan.getUkupno() + ' km'}" class="dataset-value"></div>
                    </div>
                    <div class="dataset-entry">
                        <div class="dataset-property">
                            Description
                        </div>
                        <div th:text="${workoutplan.getOpis()}" class="dataset-value"></div>
                    </div>
                    <div class="dataset-entry">
                        <div class="dataset-property">
                            Schedule
                        </div>
                        <div th:text="${workoutplan.getRaspored()}" class="dataset-value"></div>
                    </div>
                    <div class="dataset-entry">
                        <div class="dataset-property">
                            Progress
                        </div>
                        <div th:if="${loggedUser.getNapredak() < workoutplan.getUkupno()}" th:text="${loggedUser.getNapredak() + '/' + workoutplan.getUkupno() + ' km (' + loggedUser.getNapredak() / workoutplan.getUkupno() * 100 + '%)'}" class="dataset-value"></div>
                        <div th:if="${loggedUser.getNapredak() >= workoutplan.getUkupno()}" class="dataset-value dataset-value-goal">Completed!</div>
                    </div>
                </div>
                <form action="/cancelWorkoutPlan" method="post">
                    <input type="hidden" th:id="idPrograma" th:name="idPrograma" th:value="${loggedUser.getProgramVjezbanja().getIdPrograma()}">
                    <button type="submit" title="Cancel Workout Plan" class="ban-button"><i class="fas fa-ban"></i></button>
                </form>
            </div>
            <div id="hiddenedit" style="display: none;" class="padded-container secondary-color-bg">
                <h1 class="decorated-title font-secondary">
                    Select Your Workout Plan
                </h1>
                <select name="programselect" id="programselect" onchange="secondstep()" class="dataset-value input-value">
                    <option value="" disabled selected>Choose Workout Type</option>
                    <option value="Running">Running</option>
                    <option value="Cycling">Cycling</option>
                    <option value="Easy walking">Easy walking</option>
                </select>
                <select name="intensityselect" id="intensityselect" onchange="finalstep()" style="display: none;" class="dataset-value input-value">
                    <option value="" disabled selected>Choose Workout Level</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <form id="workoutdataform" action="/addWorkout" method="post" style="display: none;">
                    <div class="dataset">
                        <div class="dataset-entry">
                            <div class="dataset-property">
                                Plan name
                            </div>
                            <div id="planname" class="dataset-value"></div>
                        </div>
                        <div class="dataset-entry">
                            <div class="dataset-property">
                                Intensity
                            </div>
                            <div id="intensity" class="dataset-value"></div>
                        </div>
                        <div class="dataset-entry">
                            <div class="dataset-property">
                                Total distance
                            </div>
                            <div id="totaldistance" class="dataset-value"></div>
                        </div>
                        <div class="dataset-entry">
                            <div class="dataset-property">
                                Description
                            </div>
                            <div id="description" class="dataset-value"></div>
                        </div>
                        <div class="dataset-entry">
                            <div class="dataset-property">
                                Schedule
                            </div>
                            <div id="schedule" class="dataset-value"></div>
                        </div>
                    </div>
                    <input type="hidden" th:id="idPrograma" th:name="idPrograma">
                    <div class="profile-edit-buttons">
                        <input type="submit" value="Let's Workout!" class="btn">
                        <button type="button" onclick="showEdit()" class="btn reset-btn" title="Cancel">Cancel</button>
                    </div>
                </form>
            </div>
            <div th:if="${loggedUser != null and workoutplan == null}" id="profiledisplay" class="padded-container secondary-color-bg">
                <label for="addbutton">You don't have a workout plan</label><br><br><br>
                <button onclick="showEdit()" class="btn" title="Select a Workout Plan">Select a Workout Plan</button>
            </div>
        </section>
        <div class="workout-buttons">
            <a th:if="${loggedUser != null and (workoutplan != null or #arrays.length(goals) != 0)}" href="/recordWorkout" class="btn workout-btn">Record Workout</a>
            <a th:if="${loggedUser != null and workoutplan != null}" href="/friendsWorkout" class="btn workout-btn">Compare with Friends</a>
            <a th:if="${loggedUser != null}" href="/setGoal" class="btn workout-btn">Set Goal</a>
        </div>
        <div class="container">
            <div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>
            <div class="alert alert-success" th:if="${success}" th:text="${success}"></div>
        </div>
        <section class="section goals">
            <div th:if="${loggedUser != null and #arrays.length(goals) != 0}" class="padded-container secondary-color-bg">
                <h1 class="decorated-title font-secondary">
                    Your Goals
                </h1>
                <div th:each="goal: ${goals}" class="dataset dataset-goal">
                    <div th:if="${goal.getCiljnaKilaza() != null}" class="dataset-entry">
                        <div class="dataset-property dataset-property-goal">
                            Target Weight
                        </div>
                        <div th:text="${goal.getCiljnaKilaza() + ' kg'}" class="dataset-value dataset-value-goal"></div>
                    </div>
                    <div class="dataset-entry">
                        <div class="dataset-property dataset-property-goal">
                            Target Mileage
                        </div>
                        <div th:text="${goal.getCiljnaKilometraza() + ' km'}" class="dataset-value dataset-value-goal"></div>
                    </div>
                    <div class="dataset-entry">
                        <div class="dataset-property dataset-property-goal">
                            Way of Exercising
                        </div>
                        <div th:text="${goal.getNacin()}" class="dataset-value dataset-value-goal"></div>
                    </div>
                    <div class="dataset-entry">
                        <div class="dataset-property dataset-property-goal">
                            Schedule
                        </div>
                        <div th:text="${goal.getRaspored()}" class="dataset-value dataset-value-goal"></div>
                    </div>
                    <div th:if="${goal.getCiljnaKilaza() != null}" class="dataset-entry">
                        <div class="dataset-property dataset-property-goal">
                            Weight Progress
                        </div>
                        <div th:if="${goal.getDovrseno() == false}" th:text="${loggedUser.getKilaza() + '/' + goal.getCiljnaKilaza() + ' kg (' + T(java.lang.Math).round((loggedUser.getKilaza() - goal.getCiljnaKilaza())) + 'kg)'}" class="dataset-value dataset-value-goal"></div>
                        <div th:if="${goal.getDovrseno() == true}"class="dataset-value dataset-value-goal">Completed!</div>
                    </div>
                    <div class="dataset-entry">
                        <div class="dataset-property dataset-property-goal">
                            Mileage Progress
                        </div>
                        <div th:if="${goal.getDovrseno() == false}" th:text="${goal.getNapredak() + '/' + goal.getCiljnaKilometraza() + ' km (' + goal.getNapredak() / goal.getCiljnaKilometraza() * 100 + '%)'}" class="dataset-value dataset-value-goal"></div>
                        <div th:if="${goal.getDovrseno() == true}" class="dataset-value dataset-value-goal">Completed!</div>
                    </div>
                    <form action="/cancelGoal" method="post">
                        <input type="hidden" th:id="idCilja" th:name="idCilja" th:value="${goal.getIdCilja()}">
                        <button type="submit" title="Cancel Goal" class="ban-button"><i class="fas fa-ban"></i></button>
                    </form>
                </div>
            </div>
        </section>
    </main>

    <footer th:insert="fragments/general.html :: footer"> </footer>

</body>
<script th:inline="javascript">
    function showEdit() {
        var y = document.getElementById("profiledisplay");
        if (y.style.display === "none") {
            y.style.display = "block";
        } else {
            y.style.display = "none";
        }
        var x = document.getElementById("hiddenedit");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function secondstep() {
        var unhide = document.getElementById("intensityselect");
        if (unhide.style.display === "none") {
            unhide.style.display = "block";
        }
        var workoutdata = document.getElementById("workoutdataform");
        workoutdata.style.display = "none";
    }

    function finalstep() {
        var program = document.getElementById("programselect").value;
        var intensity = document.getElementById("intensityselect").value;
        var fullworkoutname = program + " " + intensity;
        console.log(fullworkoutname);
        var workoutdata = document.getElementById("workoutdataform");
        if (workoutdata.style.display === "none") {
            workoutdata.style.display = "block";
        }
        var workoutlist = [[${workoutlist}]];
        var workout;
        for (let i = 0; i < workoutlist.length; i++) {
            if (workoutlist[i].naziv == fullworkoutname) {
                var planname = document.getElementById("planname");
                var idPrograma = document.getElementById("idPrograma");
                var intensity = document.getElementById("intensity");
                var totaldistance = document.getElementById("totaldistance");
                var description = document.getElementById("description");
                var schedule = document.getElementById("schedule");

                planname.innerHTML = workoutlist[i].naziv;
                idPrograma.value = workoutlist[i].id;
                intensity.innerHTML = workoutlist[i].intenzitet;
                totaldistance.innerHTML = workoutlist[i].ukupno;
                description.innerHTML = workoutlist[i].opis;
                schedule.innerHTML = workoutlist[i].raspored;
                break
            }
        }
    }
</script>
</html>